body{
    background:rgb(91, 123, 139);
}

.containercabeza{
    
    border: 2px solid gray;
    background-color: Brown;
    width: 100%;
    height: 60px;



}
.tittle{
    text-align: center;
    padding-bottom: 10%;
}